.el-input__inner {
  height: 36px;
  line-height: 36px;
}
.el-button {
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
  text-align: center;
  font-size: 13px;
}
.el-button--mini {
  height: 28px;
  line-height: 28px;
  margin-left: 10px;
}
.el-pagination {
  text-align: right;
  margin-top: 1px;
  background-color: #fff;
}
.el-tabs__header {
  margin: 0;
  background-color: #fff;
}
.el-menu {
  border-right: none;
}
.el-popover {
  min-width: 60px;
  text-align: center;
}
// .el-input-number.is-controls-right .el-input__inner {
//   padding-left: 5px;
//   padding-right: 10px;
// }